/* line 52, ../sass/styles.scss */
body {
  height: 900px;
  max-height: 900px;
}

/* line 56, ../sass/styles.scss */
#body {
  background-image: url(../img/backdrop01.png);
  background-position: top;
  background-repeat: no-repeat;
  margin: 30px 0 20px 0;
  height: 850px;
  max-height: 850px;
}
/* line 63, ../sass/styles.scss */
#body #header {
  margin-top: 5px;
  height: 160px;
  max-height: 160px;
}
/* line 67, ../sass/styles.scss */
#body #header #banner {
  padding: 0;
  height: 100px;
}
/* line 70, ../sass/styles.scss */
#body #header #banner img {
  z-index: 9999;
}
/* line 71, ../sass/styles.scss */
#body #header #banner #mainLogo {
  height: 56px;
  width: 126px;
}
/* line 74, ../sass/styles.scss */
#body #header #banner #mainLogo img {
  margin: 16px 0 0 30px;
}
/* line 76, ../sass/styles.scss */
#body #header #banner .carRight {
  float: right;
  margin: 10px 0 0 0;
}
/* line 82, ../sass/styles.scss */
#body #content {
  margin-top: 0;
  margin-bottom: 0;
  height: 640px;
}
/* line 87, ../sass/styles.scss */
#body #footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 70px;
  height: 14px;
}
/* line 92, ../sass/styles.scss */
#body #footer div:last-of-type {
  text-align: right;
}

/* line 97, ../sass/styles.scss */
#nav {
  padding: 0;
  height: 60px;
  max-height: 60px;
}
/* line 101, ../sass/styles.scss */
#nav ul.horizontalMenu {
  margin: 0 0 0 135px;
  padding: 0;
  list-style: none;
  z-index: 2;
  /* menu items */
  /* submenu items */
}
/* line 107, ../sass/styles.scss */
#nav ul.horizontalMenu li {
  background-image: url(../img/navButton02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  float: left;
  position: relative;
  margin: -4px 12px 0 0;
  width: 128px;
  height: 64px;
  text-align: center;
  color: white;
  cursor: pointer;
}
/* line 117, ../sass/styles.scss */
#nav ul.horizontalMenu li:hover, #nav ul.horizontalMenu li:focus {
  background-image: url(../img/navButtonGlow02.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  /* display dropdown on hover */
}
/* line 119, ../sass/styles.scss */
#nav ul.horizontalMenu li:hover ul, #nav ul.horizontalMenu li:focus ul {
  left: 0;
}
/* line 121, ../sass/styles.scss */
#nav ul.horizontalMenu li:last-of-type {
  margin-right: 0;
}
/* line 123, ../sass/styles.scss */
#nav ul.horizontalMenu a, #nav ul.horizontalMenu a:visited, #nav ul.horizontalMenu a:active, #nav ul.horizontalMenu a:hover {
  position: relative;
  top: 22px;
  width: 112px;
  height: 60px;
  font-family: Muli;
  font-weight: 200;
  font-style: normal;
  cursor: pointer;
}
/* line 134, ../sass/styles.scss */
#nav ul.horizontalMenu ul {
  background: #6d6f75;
  background: rgba(255, 255, 255, 0);
  list-style: none;
  position: absolute;
  padding: 0;
  left: -9999px;
  top: 55px;
  /* prevent multi-line items */
}
/* line 143, ../sass/styles.scss */
#nav ul.horizontalMenu ul li {
  margin: -5px 0 0 -2px;
  border-bottom: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  float: none;
}
/* line 149, ../sass/styles.scss */
#nav ul.horizontalMenu ul a {
  white-space: nowrap;
}

/* line 155, ../sass/styles.scss */
html {
  background: fixed url(../img/bg01.png);
}

/* line 156, ../sass/styles.scss */
img {
  border: hidden;
}

/* line 157, ../sass/styles.scss */
.red {
  border: solid 1px red !important;
}

/* line 158, ../sass/styles.scss */
.white {
  border: solid 1px white !important;
}

/* line 159, ../sass/styles.scss */
.blue {
  border: solid 1px blue !important;
}

/* line 162, ../sass/styles.scss */
.textRight {
  text-align: right;
}

/* line 164, ../sass/styles.scss */
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* line 169, ../sass/styles.scss */
.h1 {
  font-family: Muli;
  color: white;
}

/* line 173, ../sass/styles.scss */
.drop {
  padding-top: 20px;
}

/* line 174, ../sass/styles.scss */
.h2 {
  font: 42px Open Sans Condensed;
  color: white;
}

/* line 178, ../sass/styles.scss */
.h2small {
  font: 22px Open Sans Condensed;
  color: #B69E70;
  margin: -30px 5px 0 0;
}

/* line 183, ../sass/styles.scss */
.h2small2 {
  font: 22px Open Sans Condensed;
  color: #B69E70;
  margin: -271px 0 0 444px;
  position: absolute;
}

/* line 189, ../sass/styles.scss */
.h3 {
  font: 32px Linden Hill;
  color: #F9DFAA;
}
/* line 192, ../sass/styles.scss */
.h3 .small {
  font-size: 28px;
}

/* line 194, ../sass/styles.scss */
.h4 {
  font: 24px Linden Hill;
  color: #F8D693;
}

/* line 198, ../sass/styles.scss */
.h5 {
  font-family: Muli;
  font-size: 2.4em;
  font-style: normal;
  color: white;
  text-align: center;
  padding: 30px 0 50px 0;
  display: inline-block;
}

/* line 207, ../sass/styles.scss */
.h6 {
  font-family: Cardo;
  font-size: 2.4em;
  color: #f9d694;
  float: right;
  margin: 14px 14px 0 0;
}

/* line 214, ../sass/styles.scss */
.h7 {
  font-family: Cardo;
  font-size: 1.1em;
  color: white;
  float: right;
  margin: -12px 64px 0 0;
}

/* line 221, ../sass/styles.scss */
.h8 {
  font-family: Federo;
  font-size: 1.8em;
  color: white;
}

/* line 226, ../sass/styles.scss */
.p1 {
  font: 10px Cardo;
  color: white;
}

/* line 230, ../sass/styles.scss */
.p2 {
  font: 12px Cabin;
  color: white;
}

/* line 234, ../sass/styles.scss */
.p3 {
  font-family: Lusitana;
  font-size: 0.9em;
  font-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* line 240, ../sass/styles.scss */
.f1 {
  font-family: Cardo;
  font-size: 0.7em;
  color: white;
}

/* line 246, ../sass/styles.scss */
.left {
  float: left;
  margin-left: auto;
  margin-right: auto;
}

/* line 247, ../sass/styles.scss */
.right {
  float: right;
  margin-left: auto;
  margin-right: auto;
}

/* line 248, ../sass/styles.scss */
.hide {
  display: none;
}

/* line 249, ../sass/styles.scss */
.repeatY {
  background-repeat: repeat-y;
}

/* line 250, ../sass/styles.scss */
.noRepeat {
  background-repeat: no-repeat;
}

/* line 251, ../sass/styles.scss */
.wide {
  width: 100%;
}

/* line 252, ../sass/styles.scss */
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* line 256, ../sass/styles.scss */
#mainTable div {
  display: inline-block;
}
/* line 259, ../sass/styles.scss */
#mainTable .cardReader {
  height: 158px;
}
/* line 264, ../sass/styles.scss */
#mainTable #mainCol2 {
  height: 160px;
}
/* line 267, ../sass/styles.scss */
#mainTable #mainCol2 #mainCell1 .h8 {
  border-bottom: solid 1px rgba(204, 204, 204, 0.2);
}
/* line 270, ../sass/styles.scss */
#mainTable #mainCol2 #mainCell1 .p3 {
  padding: 12px 8px 0 14px;
}
/* line 273, ../sass/styles.scss */
#mainTable #mainCol2 #mainCell1 .cards {
  padding: 12px 0 0 0;
}
/* line 278, ../sass/styles.scss */
#mainTable #mainCol2 #mainCell2 .dollar {
  float: right;
}

/* line 288, ../sass/styles.scss */
#content1 {
  width: 509px;
  margin-top: 40px;
  padding: 0 8px 0 0;
  border-right: solid 1px #616467;
}
/* line 293, ../sass/styles.scss */
#content1 p {
  white-space: pre-wrap;
}

/* line 295, ../sass/styles.scss */
.aboutHead1 {
  padding: 0 0 15px 0;
  margin: -20px 15px 0 0;
}

/* line 299, ../sass/styles.scss */
.aboutText1 {
  padding: 0 15px 30px 10px;
}

/* line 302, ../sass/styles.scss */
.aboutHead2 {
  padding: 30px 0 10px 0;
}

/* line 305, ../sass/styles.scss */
.aboutText2 {
  padding: 0 20px 30px 15px;
  white-space: pre-wrap;
}

/* line 309, ../sass/styles.scss */
.aboutHead3 {
  padding: 0 15px 20px 0;
}

/* line 312, ../sass/styles.scss */
.aboutText3 {
  padding: 0 40px 0 15px;
}

/* line 315, ../sass/styles.scss */
.imgVines {
  float: right;
  padding: 0 15px 10px 15px;
  height: 130px;
  width: 180px;
}

/* line 321, ../sass/styles.scss */
#sidebarRight {
  margin: 20px 0 0 20px;
  padding: 20px 0 0 0;
}

/* line 325, ../sass/styles.scss */
#aboutUs {
  margin: 0 0 0 10px;
  padding: 0 0 30px 0;
}

/* line 329, ../sass/styles.scss */
.wrapper {
  width: 100px;
  margin: 0;
  position: relative;
}

/* line 336, ../sass/styles.scss */
#faqButton {
  margin: 0 0 0 10px;
  padding: 0;
  background: #19191B;
  background: rgba(25, 25, 27, 0.7);
  width: 80px;
  height: 26px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px #383839, 1px 1px 1px 1px black;
  -moz-box-shadow: 0 0 1px 1px #383839, 1px 1px 1px 1px black;
  -webkit-box-shadow: 0 0 1px 1px #383839, 1px 1px 1px 1px black;
  -o-box-shadow: 0 0 1px 1px #383839, 1px 1px 1px 1px black;
  text-align: right;
}
/* line 349, ../sass/styles.scss */
#faqButton img {
  opacity: 0.2;
  filter: alpha(opacity=20);
  margin: 4px 64px 0 0;
}

/* line 357, ../sass/styles.scss */
#contactTable {
  position: relative;
}
/* line 359, ../sass/styles.scss */
#contactTable #contactCol1 {
  padding: 0 0 0 0;
}

/* line 366, ../sass/styles.scss */
.gallery {
  padding-top: 40px;
  text-align: center;
}

/* line 371, ../sass/styles.scss */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 378, ../sass/styles.scss */
.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
/* line 384, ../sass/styles.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
/* line 390, ../sass/styles.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/* line 398, ../sass/styles.scss */
.rslides li img {
  height: 454px;
}
